* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

[contenteditable="true"] {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #d9d9d9;
  width: 100%;
  height: 130px;
}

.img-header {
  width: 80px;
}

.header-div {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-div {
  position: relative;
  display: flex;
  gap: 24px;
}

.header-nav-list__phone-number {
  padding-top: 8px;
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}

.header-nav-list__phone-number-second {
  margin-top: 2px;
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}

.header-nav-list-second__paragraph {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
}

.header-nav-list-second__paragraph-second {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
  padding-top: 22px;
}

.description-section {
  display: flex;
  position: relative;
  margin-top: 5px;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
}

.description-section__img {
  position: absolute;
  left: 0;
  z-index: 0;
}

.description-section__div {
  display: flex;
  justify-content: space-between;
}

.description-list {
  margin-left: 80px;
  position: relative;
  z-index: 1;
  padding-top: 28px;
}

.description-list__title {
  font-size: 70px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
}

.description-list__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 25px;
}
.description-list__button {
  width: 200px;
  height: 60px;
  background-color: #000; 
  color: #ffc600;      
  border: none;           
  border-radius: 4px;     
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 20px;
   cursor: pointer;
}
.description-list__button:hover {
  background-color: #ffc600;
  color: #000;
}
.description-list__paragraph-help {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 6px;
}

.explain-text-div {
  padding-top: 80px;
  display: flex;
  margin-bottom: 90px;
}

.explain-text-div__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
}

.explain-text-div__img {
  padding-top: 90px;
}

.explain-list {
  bottom: 560px;
  position: relative;
}

.exlanation-section__img {
  padding-top: -10px;
}

.explain-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 240px;
  background-color: #d9d9d9;
  margin-top: 50px;
  border-radius: 35px;
}

.ul-explain-div {
  height: 400px;
}

.explain-list__number {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  font-size: 100px;
  margin-left: 35px;
}

.explain-list__paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 1275px;
  margin-right: 35px;
}

.duginets-pendulum {
  background-image: url("src/img/png/orange-bg.png");
  background-repeat: no-repeat;
  height: 937px;
}

.duginets-pendulum-paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 650px;
  padding-top: 255px;
  margin-left: 127px;
}

.video-section {
  background-image: url("src/img/png/photo-duginets-pendulum.png");
  background-repeat: no-repeat;
  height: 1200px;
  display: flex;
  align-items: center;
}

.video-btn {
  background-color: #ffc600;
  padding: 70px 35px;
  border: none;
  border-radius: 40px;
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #424242;
  margin-left: 500px;
}

.circles {
  display: flex;
  justify-content: center;
  padding-top: 400px;
  gap: 140px;
}

.circles__yellow-circle {
  background-color: #ffc600;
  border-radius: 100%;
  width: 400px;
  height: 400px;
}

.circles__gray-circle {
  background-color: #d9d9d9;
  border-radius: 100%;
  position: absolute;
  margin-top: -225px;
  width: 400px;
  height: 400px;
}

.circles__img {
  width: 70px;
  margin-left: 165px;
  padding-top: 50px;
}

.circles__paragraph {
  font-size: 25px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  width: 375px;
  padding-left: 37px;
}

.how-to-make-money-section-div {
  display: flex;
  justify-content: center;
  padding-top: 155px;
}

.how-to-make-money-section-div__paragraph {
  font-size: 30px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  width: 917px;
  text-align: center;
}

.footer-section {
  background-color: #adadad;
  height: 210px;
  margin-top: 175px;
}

.footer-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.img-footer {
  width: 100px;
}

.footer-list__paragraph {
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #000000;
}

.footer-list__paragraph-second {
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  color: #000000;
  padding-top: 22px;
  margin-left: 89px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background: white;
  margin: 2% auto;
  padding: 40px;
  width: 800px;
  border-radius: 10px;
  position: relative;
    max-height: 80vh; 
  overflow-y: auto;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
}
.modal-paragraph{
  font-size: 25px;
   font-family: "Roboto Flex", sans-serif;

}
.color-span{
  color: white;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .img-header {
    width: 70px;
    margin-left: 15px;
  }

  .kwt-group-header-img {
    width: 215px;
    height: 450px;
  }

  .header-nav-list-second__paragraph {
    width: 390px;
  }

  .header-nav-list-second__paragraph-second {
    width: 308px;
  }

  .description-section__img {
    width: 450px;
  }

  .description-list__title {
    font-size: 40px;
  }

  .description-list__paragraph,
  .description-list__paragraph-help {
    font-size: 15px;
    padding-top: 10px;
  }
  .welcome-paragraph {
    padding-top: 3px;
  }
  .description-list {
    margin-left: 15px;
  }
  .description-list__button{
    font-size: 12px;
    height: 40px;
    width: 180px;
    margin-top: 15px;
  }

  .explain-text-div__paragraph {
    font-size: 15px;
    width: 279px;
    margin-left: 100px;
    z-index: 10;
  }

  .explain-text-div {
    margin-bottom: 80px;
  }

  .explain-text-div__img {
    width: 600px;
    height: 479px;
    margin-left: -160px;
    z-index: 0;
    margin-top: -55px;
  }

  .explain-list__item {
    height: 233px;
    display: block;
    background: none;
  }

  .explain-list__number {
    font-size: 50px;
    margin-left: 160px;
    margin-bottom: 15px;
  }

  .explain-list__paragraph {
    font-size: 20px;
    width: 412px;
  }

  .explain-list {
    margin-left: 300px;
    bottom: 580px;
    position: relative;
  }

  .duginets-pendulum {
    height: 570px;
    background-size: 1024px;
  }

  .duginets-pendulum-paragraph {
    font-size: 20px;
    margin-left: 0;
    width: 407px;
    padding-top: 116px;
    margin-left: 55px;
  }

  .video-section {
    background-size: 1024px;
    height: 768px;
  }

  .video-btn {
    width: 305px;
    font-size: 20px;
    padding: 40px 25px;
    border-radius: 30px;
    margin-left: 270px;
  }

  .circles__yellow-circle {
    width: 300px;
    height: 300px;
  }

  .circles__gray-circle {
    width: 300px;
    height: 300px;
    margin-top: -175px;
  }

  .circles {
    gap: 48px;
  }

  .circles__paragraph {
    font-size: 20px;
    width: 275px;
    padding-left: 50px;
    padding-top: 30px;
  }

  .circles__img {
    width: 50px;
    margin-left: 125px;
    padding-top: 30px;
  }

  .how-to-make-money-section-div {
    padding-top: 50px;
  }

  .how-to-make-money-section-div__paragraph {
    font-size: 20px;
    width: 639px;
  }

  .footer-section {
    margin-top: 65px;
  }

  .img-footer {
    width: 100px;
    margin-left: 15px;
  }
.modal-content{
width: 500px;
}
.modal-paragraph{
  font-size: 20px;
}
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 767px;
    margin: 0 auto;
  }
 
  header {
    height: 115px;
  }

  .header-div {
    padding-top: 20px;
    padding-right: 15px;
  }

  .img-header {
    width: 60px;
    margin-left: 15px;
  }

  .header-nav-list-second__item {
    display: none;
  }

  .nav-div {
    gap: 0;
  }

  .description-section__img {
    width: 240px;
  }

  .description-list__title {
    font-size: 22px;
  }

  .description-list__paragraph,
  .description-list__paragraph-help {
    font-size: 11px;
    padding-top: 8px;
  }
  .welcome-paragraph {
    padding-top: 3px;
    width: 150px;
  }
  .description-list {
    padding-top: 10px;
    padding-left: 2px;
  }
  .description-list__button{
    font-size: 8px;
    width: 100px;
    height: 30px;
    margin-top: 8px;
  }

  .kwt-group-header-img {
    width: 110px;
    height: 225px;
  }

  .description-list__paragraph-help {
    width: 144px;
    padding-top: 3px;
    padding-left: 3px;
  }

  .explain-text-div {
    padding-top: 30px;
  }

  .explain-text-div__paragraph {
    font-size: 12px;
    width: 240px;
    margin: 0 auto;
  }

  .explain-text-div__img {
    display: none;
  }

  .exlanation-section__img {
    width: 170px;
  }

  .explain-list__number {
    font-size: 32px;
    margin-left: 100px;
    margin-bottom: 14px;
  }

  .explain-list__paragraph {
    font-size: 12px;
    width: 240px;
  }

  .explain-list {
    margin-left: 95px;
    bottom: 225px;
  }

  .explain-list__item {
    height: 196px;
    margin-top: 0;
  }

  .duginets-pendulum {
    height: 270px;
    background-size: 480px;
  }

  .duginets-pendulum-paragraph {
    font-size: 12px;
    width: 252px;
    padding-top: 46px;
    padding-left: 15px;
  }

  .video-section {
    background-size: 480px;
    height: 362px;
  }

  .video-btn {
    font-size: 10px;
    padding: 17px 10px;
    border-radius: 15px;
    width: 123px;
    margin-left: 160px;
  }

  .circles {
    display: block;
    padding-top: 20px;
    margin-left: 105px;
  }

  .circles__gray-circle,
  .circles__yellow-circle {
    position: static;
    height: 200px;
    width: 200px;
    margin-top: 25px;
  }

  .circles__paragraph {
    font-size: 15px;
    width: 185px;
    padding-left: 20px;
    padding-top: 8px;
  }

  .circles__img {
    width: 40px;
    margin-left: 79px;
    padding-top: 20px;
  }

  .how-to-make-money-section-div__paragraph {
    font-size: 12px;
    width: 375px;
  }

  .footer-section {
    height: 100px;
  }

  .img-footer {
    width: 60px;
    margin-left: 14px;
  }

  .footer-list__paragraph {
    font-size: 10px;
    margin-left: 49px;
  }

  .footer-list__paragraph-second {
    font-size: 10px;
    margin-right: 16px;
  }

  .footer-div {
    padding-top: 10px;
  }
  .modal-content{
width: 350px;
padding: 20px;
  }
}
